// Grid Elements
//
// This menu works off my Basic-Grid system:
// https://www.amportfolio.com/code/basic-grid-1/example
//
// If you do not use my grid, then you will need these
// elements to make the menu fully lay out correctly.

* {
  box-sizing: border-box;
}

 body {
  overflow-y: scroll;
}

.container, .container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

@media (min-width: 320px) {
  .container { max-width: 320px; }
}
@media (min-width: 480px) {
  .container { max-width: 480px; }
}
@media (min-width: 768px) {
  .container { max-width: 768px; }
}
@media (min-width: 992px) {
  .container { max-width: 992px; }
}
@media (min-width: 1200px) {
  .container { max-width: 1200px; }
}
@media (min-width: 1440px) {
  .container { max-width: 1440px; }
}